@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DungGeunMo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Shilla_CultureB-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Binggrae-Two';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --pretendard-font: 'Pretendard-Regular', sans-serif; // 전역 폰트
  --dunggeunmo-font: 'DungGeunMo', sans-serif; // 도트 폰트
  --shilla-font: 'Shilla_CultureB-Bold', sans-serif; // 타이틀 폰트
  --binggrae-font: 'Binggrae-Two', sans-serif; // 도트 폰트
}
