// PrimaryColor
$Primary100: #000000;

// SubColor
$Sub100: #ffffff;

// RedColor
$Red100: #bf1b1b;

// GrayColor
$Gray000: #f2f2f2;
$Gray100: #343a40;
$Gray200: #495057;
$Gray300: #adb5bd;
$Gray400: #f8f9fa;
$Gray500: #e9ecef;
$Gray600: #d4d4d4;
$Gray700: #666666;

// BlackColor
$Black100: #000000;

// WhiteColor
$White100: #ffffff;

// FontSize
$xxlarge: 5rem;
$xlarge: 4rem;
$large: 3rem;
$medium: 2rem;
$small: 14px;
$xsmall: 12px;
$xxsmall: 10px;
