// PrimaryColor
$Primary100: #000000;

// SubColor
$Sub100: #ffffff;

// RedColor
$Red100: #bf1b1b;

// GrayColor
$Gray000: #f2f2f2;
$Gray100: #343a40;
$Gray200: #495057;
$Gray300: #adb5bd;
$Gray400: #f8f9fa;
$Gray500: #e9ecef;
$Gray600: #d4d4d4;
$Gray700: #666666;

// BlackColor
$Black100: #000000;

// WhiteColor
$White100: #ffffff;

// FontSize
$xxxlarge: 3.5vw;
$xxlarge: 2.5vw;
$xlarge: 2vw;
$large: 1.8vw;
$medium: 1.2vw;
$small: 1.1vw;
$xsmall: 1vw;
$xxsmall: 0.9vw;
