// PrimaryColor
$Primary100: #000000;

// SubColor
$Sub100: #ffffff;

// RedColor
$Red100: #bf1b1b;

// GrayColor
$Gray000: #f2f2f2;
$Gray100: #343a40;
$Gray200: #495057;
$Gray300: #adb5bd;
$Gray400: #f8f9fa;
$Gray500: #e9ecef;
$Gray600: #d4d4d4;
$Gray700: #666666;

// BlackColor
$Black100: #000000;

// WhiteColor
$White100: #ffffff;

// FontSize
$xxxlarge: 3.5rem;
$xxlarge: 2.5rem;
$xlarge: 2rem;
$large: 1.8rem;
$xxmedium: 1.6rem;
$xmedium: 1.4rem;
$medium: 1.2rem;
$small: 1.1rem;
$xsmall: 1rem;
$xxsmall: 0.9rem;

// Intro Font
$intro-font: 8rem;
